<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="mshehata-element-3">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `mshehata-element-3`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MshehataElement3 extends Polymer.Element {
      static get is() { return 'mshehata-element-3'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mshehata-element-3'
          }
        };
      }
    }

    window.customElements.define(MshehataElement3.is, MshehataElement3);
  </script>
</dom-module>
